
{% extends 'basee.html' %}
{% load static %}
{% block content %}

<style>.page-header {
    background-image: url('{% static "user/assets/images/page-header-bg.jpg" %}');
   
}</style>


        <main class="main">
        	<div class="page-header text-center">
        		<div class="container-fluid">
        			<h1 class="page-title">SHOP</h1>
        		</div><!-- End .container-fluid -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="">Search</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">No Sidebar</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Fullwidth</li> -->
                    </ol>
                </div><!-- End .container-fluid -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container-fluid">
        			<div class="toolbox">
        				<div class="toolbox-left">
                            <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
        				</div><!-- End .toolbox-left -->

                        <div class="toolbox-center">
                            <div class="toolbox-info">
                                Showing <span>12 of 56</span> Products
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-center -->

        				<div class="toolbox-right">
        					<div class="toolbox-sort">
        						<label for="sortby">Sort by:</label>
        						<div class="select-custom">
									<select name="sortby" id="sortby" class="form-control">
										<option value="popularity" selected="selected">Most Popular</option>
										<option value="rating">Most Rated</option>
										<option value="date">Date</option>
									</select>
								</div>
        					</div><!-- End .toolbox-sort -->
        				</div><!-- End .toolbox-right -->
        			</div><!-- End .toolbox -->

                    <div class="products">
                        <div class="row">
                            {% for c in variant_images %}
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">

                                <div class="product">
                                    <figure class="product-media">
                                        <span class="product-label label-new " style="background-color: black;">New</span>
                                        <a href="{% url 'product_show' c.variant.product.id c.variant.id %}">
                                            <img src="{{c.image.url }}" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action action-icon-top">
                                            <input readonly class="mtext-104 cl3 txt-center num-product" type="hidden"
                                            name="num-product" value="1" id="qty-input">
                                            <div class="product-action">
                                                <input type="hidden"  value="{{ c.variant.size.id }}" id="size-input" >
                                            <a href="" data-product_id="{{ c.variant.id }}" class="btn-product btn-cart add-to-cart-btn"><span>add to cart</span></a>
                                            {% comment %} <a href="{% url 'Quick_view' c.variant.id %}"  class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a> {% endcomment %}
                                            <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#"></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="{% url 'product_show' c.variant.product.id c.variant.id %}">{{c.variant.product.product_name}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            ${{c.variant.product.product_price}}  
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 0 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" id="colorLink{{ forloop.counter }}"><span class="sr-only"></span></a>
                                            <script>
                                                var colorCode = "{{ c.variant.color.color_code }}";
                                                var colorLink = document.getElementById("colorLink{{ forloop.counter }}");
                                                colorLink.style.background = colorCode;
                                            </script>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                    
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                            {% endfor %}
                        </div><!-- End .row -->

                        <div class="load-more-container text-center">
                            <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i class="icon-refresh"></i></a>
                        </div><!-- End .load-more-container -->
                    </div><!-- End .products -->
<!-- 
               this side filter modal -->
                </div><!-- End .container-fluid -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('.add-to-cart-btn').click(function (e) {
            e.preventDefault();
    
            var product_id = $(this).data('product_id');
            var add_qty = $('#qty-input').val();
            var add_size = $('#size-input').val();
    
            // var cart_qty = $('#pro_qty' + product_id).val();  
            console.log(product_id, add_qty,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
            $.ajax({
                method: "POST",
                url: "{% url 'add_cart' %}",
                data: {
    
                    'variant_id': product_id,
                    'add_size':add_size,
                    'add_qty': add_qty,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
    
                    console.log(response);
    
    
    
                    if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in cart' ) {
                        swal.fire("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Product added successfully') { 
                        swal.fire("", response.status, "success");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'you are not login please Login to continue') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else if (response.status === 'Sorry! this variant not available') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else {
                        swal("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    }
                }
            });
        });
    </script>
    
    
    <!-- Add this before the closing </body> tag of your HTML -->
    <script src="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
    




{% endblock %}