{% extends 'dashboard/adminloginbase.html' %}
{% block title %}admin_forgotpassword{% endblock %}
{% load static %}
{% block adminbody %}
{% if otp %}          
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <h3 class="text-center">Forgotpassword</h3>
                <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'images/icons/logo.png'%}" width="180" alt="">
                </a>
                
                <form action="{% url 'admin_forgotpassword' %}" method="POST">
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Enter OTP</label>
                    <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp" name="otp" value="{{pre_otp}}">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="password1" >
                  </div>
                  <input type="hidden" value="{{user.email}}" name="email">
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password2">
                  </div>
                  <a> <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"> Sumbit</button></a>
                  <div class="mb-3">
                    {% for message in messages %}
                  <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                      {{ message }}
                  </div>
                  {% endfor %}
                </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <h3 class="text-center">Forgotpassword</h3>
                            <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="{% static 'images/icons/logo.png'%}" width="180"
                                    alt="">
                            </a>
                            <p class="text-center">Email verification</p>
                            <form action="{% url 'admin_forgotpassword' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleInputtext1" class="form-label">Enter Your Email</label>
                                    <input type="Email" class="form-control" name="email"
                                        aria-describedby="textHelp">
                                </div>
                                
                                <a> <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Verify Email</button></a>
                                <div class="mb-3">
                                    {% for message in messages %}
                                  <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                                      {{ message }}
                                  </div>
                                  {% endfor %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}